thead {
	background-color: #d9d9d9;
	height:50px;
}

tbody {
	color: white;
}

td,th {
	text-align: center;
}

td{
	height:100px;
	width:200px;
}

.public-swim {
	background-color: #0099ff;
}

.lane-swim {
	background-color: #33cc33;
}

.aquacise-lite {
	background-color: #d669ae;
}

.aqua-jog, .aquacise, .parent-baby {
	background-color: #e81087;
}

.education {
	background-color: #57d9b6;
}

.oldam {
	background-color: coral;
}